.container {
    padding-left: 12px;
    padding-right: 12px;
}

.h3, h3 {
    font-size: calc(1.1rem + .6vw);
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.1;
}

.wrapper {
    font-family: Kanit, sans-serif;
    padding: 15px;
    line-height: 1.5;
}

pre.content {
    font-family: Kanit, sans-serif;
    white-space: pre-wrap;
    font-size: 1.25em;
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 10px 0 0;
    }
}