<form *ngIf="!checkLogin" [formGroup]="loginForm" id="loginForm">  
    <div id="username-container" class="container">   
        <label>Username : </label>   
        <input type="text" formControlName="username" placeholder="Enter Username" name="username" #username>  
        <label>Password : </label>   
        <input type="password" formControlName="password" placeholder="Enter Password" name="password" #password>  
        <button type="button" (click)="login(username.value, password.value)">Login</button>   
    </div>   
</form>  
