<div *ngIf="displayName">
	<mat-toolbar color="primary" class="example-toolbar">
		<!-- <button mat-icon-button (click)="isExpanded = !isExpanded">
			<mat-icon>menu</mat-icon>
		</button> -->
		<h1 class="example-app-name">Wiseday</h1>
		<span class="example-spacer"></span>
		<mat-icon>account_circle</mat-icon>
		<span class="displayName">{{displayName}}</span>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>supervisor_account</mat-icon>
				<span (click)="logout()">Logout</span>
			</button>
		</mat-menu>
	</mat-toolbar>
	<mat-drawer-container class="example-container">
		<mat-drawer mode="side" opened>
			<mat-nav-list>
				<mat-list-item class="parent" routerLink="/dashboard/list-user" routerLinkActive="active">
					<span class="full-width" style="margin-right: 80px;">Users</span>
					<mat-icon mat-list-icon>account_circle</mat-icon>
				</mat-list-item>
			</mat-nav-list>
		</mat-drawer>
		<mat-drawer-content>
			<div class="example-sidenav-content">
				<router-outlet></router-outlet>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>